<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ImageGalleryController</display-name>
    <servlet-name>ImageGalleryController</servlet-name>
    <servlet-class>klu.controller.ImageGalleryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageGalleryController</servlet-name>
    <url-pattern>/ImageGalleryController</url-pattern>
  </servlet-mapping>
  <display-name>13_SPRINGJPAS17</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ImageController</servlet-name>
    <servlet-class>klu.controller.ImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageController</servlet-name>
    <url-pattern>/gallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageGalleryController.java</display-name>
    <servlet-name>ImageGalleryController.java</servlet-name>
    <servlet-class>klu.controller.ImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageGalleryController.java</servlet-name>
    <url-pattern>/ImageGalleryController.java</url-pattern>
  </servlet-mapping>
</web-app>